@import (reference) "./define.less";
// 常用样式，与具体项目无关
:root {
	--primary-color: @primary;
}

a {
	cursor: pointer;
}

@header-color: #374151;
.header-color {
	background-color: @header-color;
}

button,
.btn {
	cursor: pointer;
	position: relative;
	&.small {
		font-size: 12px;
		padding: 2px 11px;
		border-radius: 4px;
	}
	&.big {
		font-size: 13px;
		min-width: 140px;
		line-height: 32px;
		border-radius: 32px;
	}
	&.primary {
		padding: 3px 6px;
		.magic-bg-btn(@primary);
	}
	&.success {
		padding: 3px 6px;
		.magic-bg-btn(@success);
	}
	&.warning {
		padding: 3px 6px;
		.magic-bg-btn(@warning);
	}
	&.error {
		padding: 3px 6px;
		.magic-bg-btn(@error);
	}
	&.primary-plain {
		padding: 3px 6px;
		.magic-btn(@primary);
	}
	&.success-plain {
		padding: 3px 6px;
		.magic-btn(@success);
	}
	&.error-plain {
		padding: 3px 6px;
		.magic-btn(@error);
	}
	&.primary-link {
		padding: 3px 6px;
		.color3(@primary);
	}
	&.success-link {
		padding: 3px 6px;
		.color3(@success);
	}
	&.error-link {
		padding: 3px 6px;
		.color3(@error);
	}
}

.mobile {
	button {
		&.primary {
			&:hover {
				background-color: @primary;
			}
		}
		&.error {
			&:hover {
				background-color: @error;
			}
		}
	}
}

.electron-border {
	.fixed-full;
	border-style: solid;
	border-color: slategray;
	border-width: 1px;
	pointer-events: none;
	z-index: 90000;
}

.nowrap {
	white-space: nowrap;
}

.link-primary {
	.magic-link(@primary);
}
.tac,
.text-center {
	text-align: center;
}
.text-right {
	text-align: right;
}
.float-left {
	float: left;
}
.float-right {
	float: right;
}
.nuxt-link-active {
	color: var(--primary-color);
}
.flex {
	display: flex;
	&.between {
		justify-content: space-between;
	}
	&.around {
		justify-content: space-around;
	}
}
.flex-center {
	display: flex;
	align-items: center;
	justify-content: center;
}
.flex-1 {
	flex: 1;
}
.line {
	display: flex;
	align-items: center;
}
.box-center {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
}

.relative {
	position: relative;
}
.abs {
	position: absolute;
	z-index: 1;
	left: 0;
	right: 0;
}

.completion {
	display: none;
	position: absolute;
	top: 100%;
	left: 0;
	right: 0;
	background-color: #fff;
	.depth;
}
*:focus + .completion {
	display: block;
}

.group-hover {
	position: relative;
	> .group-item {
		display: none;
	}
	&:hover > .group-item {
		display: block;
	}
}

.group-focus {
	position: relative;
	> .group-item {
		display: none;
	}
	&:focus > .group-item {
		display: block;
	}
}

/* transition */
// it-fade-slide-down 从上往下淡入淡出
.it-fade-slide-down-enter-active,
.it-fade-slide-down-leave-active {
	transition: opacity 0.35s cubic-bezier(0.4, 0, 0.2, 1) 0s,
		transform 0.35s cubic-bezier(0.4, 0, 0.2, 1) 0s;
}
.it-fade-slide-down-enter,
.it-fade-slide-down-leave,
.it-fade-slide-down-leave-active {
	opacity: 0;
	transform: translateY(-90px);
}
// it-fade-slide-left 从上往下淡入淡出
.it-fade-slide-left-enter-active,
.it-fade-slide-left-leave-active {
	transition: opacity 0.35s cubic-bezier(0.4, 0, 0.2, 1) 0s,
		transform 0.35s cubic-bezier(0.4, 0, 0.2, 1) 0s;
}
.it-fade-slide-left-enter,
.it-fade-slide-left-leave,
.it-fade-slide-left-leave-active {
	opacity: 0;
	transform: translateX(100vw);
}
// it-fade-slide-up 从下往上淡入淡出
.it-fade-slide-up-enter-active,
.it-fade-slide-up-leave-active {
	transition: opacity 0.35s cubic-bezier(0.4, 0, 0.2, 1) 0s,
		transform 0.35s cubic-bezier(0.4, 0, 0.2, 1) 0s;
}
.it-fade-slide-up-enter,
.it-fade-slide-up-leave,
.it-fade-slide-up-leave-active {
	opacity: 0;
	transform: translateY(90px);
}
// it-fade-height 从上往下高度变化
.it-fade-height-enter-active,
.it-fade-height-leave-active {
	transition: height 0.35s cubic-bezier(0.4, 0, 0.2, 1) 0s;
}
.it-fade-height-enter,
.it-fade-height-leave,
.it-fade-height-leave-active {
	height: 0 !important;
}
// it-fade 透明度淡入淡出
.it-fade-enter-active,
.it-fade-leave-active {
	transition: opacity 0.35s cubic-bezier(0.4, 0, 0.2, 1) 0s;
}
.it-fade-enter,
.it-fade-leave,
.it-fade-leave-active {
	opacity: 0;
}
// it-scale-top-right 从右上方缩放
.it-scale-top-right-enter-active,
.it-scale-top-right-leave-active {
	transform-origin: top right;
	transition: opacity 0.35s cubic-bezier(0.4, 0, 0.2, 1) 0s,
		transform 0.35s cubic-bezier(0.4, 0, 0.2, 1) 0s;
}
.it-scale-top-right-enter,
.it-scale-top-right-leave,
.it-scale-top-right-leave-active {
	opacity: 0;
	transform: scale(0);
}

.no-scroll {
	overflow: hidden !important;
}

.divider {
	width: 100%;
	height: 1px;
	background-color: #e5e5e5;
	padding: 0 !important;
}

.divider-x {
	width: 1px;
	height: 100%;
	background-color: #e5e5e5;
	padding: 0 !important;
}

.disabled,
:disabled {
	cursor: not-allowed;
	opacity: 0.5;
}

small.tip {
	opacity: 0.6;
}

.hover-opacity {
	opacity: 0.65;
	&:hover {
		opacity: 1;
	}
}

.tar {
	text-align: right;
}

// 会员亮光
.viplight {
	position: relative;
	&::before {
		content: " ";
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: linear-gradient(
				-45deg,
				transparent 30%,
				rgba(255, 255, 255, 0.3) 30%,
				rgba(255, 255, 255, 0.1) 60%,
				transparent 60%
			)
			no-repeat;
		filter: blur(10px);
		@keyframes light {
			0% {
				background-position: -300px 0;
			}
			100% {
				background-position: 300px 0;
			}
		}
		animation: light 1s linear 0.3s infinite;
	}
}

.x-divider {
	width: 1px;
	height: 100%;
	min-height: 20px;
	background: linear-gradient(
		180deg,
		rgba(0, 56, 62, 0),
		rgba(0, 56, 62, 0.19) 50%,
		rgba(0, 56, 62, 0)
	);
	display: inline-block;
}

.y-divider {
	width: 100%;
	height: 1px;
	min-width: 20px;
	background: linear-gradient(
		90deg,
		rgba(0, 56, 62, 0),
		rgba(0, 56, 62, 0.19) 50%,
		rgba(0, 56, 62, 0)
	);
	display: inline-block;
}

.ignore {
	pointer-events: none;
}

// 仅移动端显示
.show-mobile {
	display: none;
	@media screen and (max-width: @mobile-width) {
		display: block;
	}
}
